<!DOCTYPE HTML>
<head>

    <title>Тесты</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/index/start_page.css" type ="text/css" rel="stylesheet">
</head>
<body>
<div  id="wrap">
{{#airports}}
<div>
{{airporty_id}}
{{airporty_name_rus}}
{{airporty_name_eng}}
{{airporty_name_china}}
{{GMT}}
{{airporty_ICAO}}
{{airporty_IATA}}
</div>
{{/airports}}
</div>
</body>
</html>