<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Тесты</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/index/start_page.css" type ="text/css" rel="stylesheet">
</head>
<body>
<h1 th:text = "#{welcome.text}">Увы увы</h1>
<div  id="wrap">
<div th:each="airport : ${airports}">
<span th:text="${airport.airporty_id}"> def</span>
<span th:text="${airport.airporty_name_rus}"> def</span>
<span th:text="${airport.airporty_name_eng}"> def</span>
<span th:text="${airport.GMT}"> def</span>
<span th:text="${airport.airporty_ICAO}"> def</span>
<span th:text="${airport.airporty_IATA}"> def</span>
</div>
</div>
</body>
</html>