<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta http-equiv="Content-type" Content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<meta th:name="_csrf" th:content="${_csrf.token}"/>
<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

<title th:text="#{reysy.title}">
Рейсы
</title>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
	<style>
	body{
	
	
	}
	</style>
</head>
<Body>
<div id="tablo" style=" width: 100vw; height: 100vh;background-color:black;">
</div>

</body>
</html>



















