<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
<meta http-equiv="Content-type" Content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta th:name="_csrf" th:content="${_csrf.token}"/>
<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
<link rel="stylesheet" href="/css/login.css" >
       <title th:text="#{registration.title}">Autorisation </title>
		 <script src="/js/parametrs.js"></script>
		 
    </head>
    <body>
	 <div th:if="${error}" text-align="center" font-color="red">
	 <span th:text="#{login.invalid_password}"> Invalid username and password.</span>
           
        </div>
        <div class="login-page">
  <div class="form">
    <form class="register-form" th:action="@{/svop/registration}" autocomplete="off" method="post">
	
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	
      <input type="text" name="username" th:placeholder="#{login.username}" />
      <input type="password" name="password"  th:placeholder="#{login.password}"/>
	   <input type="password" name="confirmPassword" th:placeholder="#{registration.confirm_password}"/>
      <button type="submit" th:text="#{registration.bt}"> login  </button>
      <p class="message"><span th:text="#{registration.already_reg_msg}" >Already registered? </span>
	  <a  th:href="@{/svop/login}"  th:text="#{registration.sign_in}" >Sign In</a></p>
    </form>
	<div style="color:red;">
	<div th:if="${username_size_error}" th:text="#{registration.error.username.size}"></div>
	<div th:if="${username_unique_error}" th:text="#{registration.error.username.unique}"></div>
	<div th:if="${password_size_error}" th:text="#{registration.error.password.size}"></div>
	<div th:if="${password_confirm_error}" th:text="#{registration.error.password.confirm}"></div>
	</div>
  </div>
</div>


    </body>
</html>