body{
	font-size:11pt;
}
input{
	font-size:11pt;
}
#filter_table{
	font-size:11pt;
	white-space: nowrap;
}
th{
	font-size:11pt;
}
 td,th{
	 text-align: center;
	vertical-align:middle;
}