<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="js/query/jquery-ui/jquery-ui.css">

<div th:fragment="menu">
<style>
 .dropdown-menu .dropdown-menu {
	top: auto;
	left: 100%;
	transform: translateY(-2rem);
}

.dropdown-item.submenu::after {
	content: '▸';
	margin-left: 0.5rem;
}

.navbar-brand img{
width:150px;
}


.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}
  </style>
  
 
 
 <nav class="navbar navbar-extend-md navbar-light bg-light stickly-top">
 <div  class="container-fluid">

 <div class="dropdown">
	<button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
		Навигация
	</button>
	<div class="dropdown-menu" id="0">
		<a class="dropdown-item" href="#">Главная страница</a>
		<a class="dropdown-item submenu"  href="#">Справочники</a>
		<div class="dropdown-menu" id="1">
			<a class="dropdown-item" href="#">Маршруты</a>
			<a class="dropdown-item" href="/content/html/hendbooks/airports_opening.html">Аэрапорты</a>
			<a class="dropdown-item" href="#">Авиакомпании</a>
			<a class="dropdown-item" href="#">Номера рейсов</a>
		</div>
	
		<a class="dropdown-item submenu" href="#">Сезонное расписание</a>
		<div class="dropdown-menu" id="1">
			<a class="dropdown-item" href="#">Регулярные рейсы</a>
			<a class="dropdown-item" href="#">Чартерные рейсы</a>
			<a class="dropdown-item" href="#">Формирование</a>
		</div>
		<a class="dropdown-item submenu"  href="#">Суточное расписание</a>
		<div class="dropdown-menu" id="1">
			<a class="dropdown-item" href="#">Формирование расписания</a>
			<a class="dropdown-item" href="#">Графики полетов</a>
		</div>
		<a class="dropdown-item submenu" href="#">Технологические графики</a>
		<div class="dropdown-menu" id="1">
			<a class="dropdown-item" href="#">Формирование шаблонов</a>
			<a class="dropdown-item" href="#">Инициализация</a>
		</div>
		
		<a class="dropdown-item submenu" href="#">Система вывода</a>
		<div class="dropdown-menu" id="1">
			<a class="dropdown-item" href="#">Табло сезонного расписания</a>
			<a class="dropdown-item" href="#">Суточное расписание</a>
		</div>
		<a class="dropdown-item submenu" href="#">Документация</a>
		<a class="dropdown-item submenu" href="#">Администрирование</a>
		<div class="dropdown-menu" id="1">
			<a class="dropdown-item" href="#">Пользователи</a>
			<a class="dropdown-item" href="#">Роли</a>
			<a class="dropdown-item submenu" href="#">Журнал</a>
		<div class="dropdown-menu" id="2">
			<a class="dropdown-item" href="#">Лог</a>
			<a class="dropdown-item" href="#">Маршруты</a>
			<a class="dropdown-item" href="#">Аэрапорты</a>
			<a class="dropdown-item" href="#">Авиакомпании</a>
			<a class="dropdown-item" href="#">Номера рейсов</a>
					<a class="dropdown-item" href="#">Процедуры</a>
			<a class="dropdown-item" href="#">Востановление системы</a>
		</div>
		</div>
		<a class="dropdown-item" href="#">Выход</a>
	</div>
</div>

		<div class="page-header">
  <h1>Портал аэропорта г.Барнаула имени Г.С Титова 
  </h1>
</div>


<a href="#" class="navbar-brand"><img src="/img/logo.png"></a>

 
</div>
</nav>
<script src="js/query/jquery-ui/jquery-ui.js"></script>
<script>

// установим обработчики, элементу 
var level=0;
$('.dropdown-item').hover(
function(){
	
	 level=$(this).parent(".dropdown-menu").attr("id");
	clean();
	
	//console.log("level"+" "+level); 
	$(this).next(".dropdown-menu").css("display", "block");

}
	
,
function(){
	//$(this).next(".dropdown-menu").css("display", "none");
});


$('.dropdown-menu').hover(
function(){

},
function(){

//alert(level);

	$('.submenu').each(function(){
$(this).next(".dropdown-menu").css("display", "none");
});

level=0;

}
);

function clean()
{
$('.dropdown-menu').each(function(){
	let level_temp=$(this).attr("id");
	
	//console.log(level_temp+" "+level+" "+$(this).text()); 
	
	if (level<level_temp)
	{
	$(this).css("display", "none");
	}
});
}
</script>
</div>
</html>
  

