<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta http-equiv="Content-type" Content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta th:name="_csrf" th:content="${_csrf.token}"/>
<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
<title th:text="#{aircompanies.title}">
Заголовок
</title>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
</head>
<Body>
<div id="header" th:insert="/html/nmenu.html"></div>
 <div id="content" class="container-fluid">
        <div class="row" >
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-5">
		<div id="filter"  th:insert="/html/filter.html">
		</div>
		<div class="pages" th:insert="/html/pages.html"></div>
		<h2 class="text-center" th:text="#{aircompanies.title_tab}">Таблица Авиакомпаний</h2>
		
<div class="table-responsive">
<table class="table table-striped table-bordered mb-8" id="content_table">
<thead>
<tr> <th name="id"></th>
<th  th:text="#{aircompanies.longname}">Полное название</th>
  <th th:text="#{aircompanies.shprtname}">Короткое название</th> 
  <th th:text="#{aircompanies.logo}" >Логотип</th>
</thead >
<tbody id="filter_table">
<tr th:each="aircompany : ${aircompanies}">
<td  ><input type="checkbox" th:id="ch+${aircompany.id}" th:value="${aircompany.id}" name="ch[]" th:form="form"/></td>
<td><label th:for="ch+${aircompany.id}" th:text="${aircompany.nameLong}"> </label></td>
<td><label th:for="ch+${aircompany.id}" th:text="${aircompany.nameShort}"> </label></td>
<td><label th:for="ch+${aircompany.id}"> <img th:src="${aircompany.logo}"/> </label></td>
</tr>
<tr >
<td colspan="7" style="text-align:left;">  <input type='checkbox' 
id="maincheck"> <label for="maincheck" th:text="#{buttons.fire_all}"> Выделить все </label></td>
</tr>
</tbody>
</table>
<div class="pages" th:insert="/html/pages.html"></div>
</div>


<script>
/*
//Мы моэжем создать форму сами на JS!
$('.btn').click(function( event ){

    var file_data = $('#file').prop('files')[0];
    var form_data = new FormData();
    form_data.append('file', file_data);
    alert(form_data);
    $.ajax({
                url: 'http://localhost:5000/svop/api/aircompanies/save',
                dataType: 'text',
                cache: false,
                contentType: false,
                processData: false,
                data: form_data,
                type: 'post',
                success: function(php_script_response){
                    alert(php_script_response);
                }
     });
 
});
*/
</script>

<div id="errors" style="color:red;font-size:18px;">
<span th:text="${error}"></span>
</div> 

</div>


<form th:action="@{/svop/aircompanies/delete}" method="POST" id="form" role="form" >

<div class="btn-group fixed-bottom w-50 m-auto mt-5">
 <input type="button" name="add" data-toggle="modal" data-target="#addModal" data-content="add" th:value="#{buttons.add_bt}" 
 class="btn btn-success"  />
 <input type="button" name="redact" data-content="redact" th:value="#{buttons.red_bt}"  data-toggle="modal" data-target="#addModal" 
 class="btn btn-primary"/>
 <input type="submit" name="delete" th:value="#{buttons.del_bt}" 
 class="btn btn-warning"/>
 </div>
 
 
</form>

</div>
 </div>


<script src="/js/jquery/jquery-3.3.1.min.js"></script>
<script src="/bootstrap/js/popper_min.js" ></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/fire_check.js"></script>
<script src="/js/filter.js"></script>


<div th:insert="/html/modal/aircompanies_modal.html" ></div>
  <script th:inline="javascript">
  //Заголовки для вывода интернационализованного текста
  var head_add_title=[[#{modal.header_add}]];
  var head_red_title=[[#{modal.header_red}]];
  
  //csrf токены
var token = $("meta[name='_csrf']").attr("content"); 
var header = $("meta[name='_csrf_header']").attr("content");  
 </script>
   <script src="/js/modal/aircompanies_modal.js">
   </script>
    
</Body>
</html>




