<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta http-equiv="Content-type" Content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<meta th:name="_csrf" th:content="${_csrf.token}"/>
<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

<title th:text="#{reysy.title}">
Рейсы
</title>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
	<style>
	#content_table{
	text-align:center;
	vertical-align:middle;
	border-collapse: collapse;
	white-space: nowrap;
	
	}
	td,th{
	 text-align: center;
	vertical-align:middle;
}
	</style>
</head>
<Body>


<div id="header" th:insert="/html/nmenu.html"></div>


 <div id="content" class="container-fluid">
        <div class="row" >
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<div class="form-group">
		 <label th:text="#{reysy.period}">Отбор по периоду</label>
		 <select id="sezon_select" form="form" name="sezon_selected" class="form-control">
		 <option value=""></option>
		 <option th:each="sezon : ${sezons}" th:value="${sezon.id}" th:text="${sezon.name}" 
		 th:selected="${sezon.id == sezon_selected}">Отбор по сезону</option>
		 </select>
		 </div>
		</div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-5">
		<div id="filter"  th:insert="/html/filter.html">
		</div>
		<div class="pages" th:insert="/html/pages.html"></div>
		
		<h2 class="text-center" th:text="#{reysy.title_tab}">Таблица рейсов</h2>
		
<div class="table-responsive">
<table class="table table-striped table-bordered mb-5" id="content_table" >
<thead >
<tr> <th rowspan="2" ></th>
	<th  rowspan="2"  style="vertical-align:middle;" th:text="#{reysy.rout}" >Маршрут</th>
	<th rowspan="2" style="vertical-align:middle;" th:text="#{reysy.period_start}">Начало периода</th>
	<th rowspan="2" style="vertical-align:middle;" th:text="#{reysy.period_end}">Конец периода</th> 
	<th  colspan="4" th:text="#{reysy.prilet}">Прилет</th>
	<th  colspan="4" th:text="#{reysy.vilet}">Вылет</th>
	<th rowspan="2" style="vertical-align:middle;" th:text="#{reysy.tip_vs}">Тип ВС</th>
	<th rowspan="2" style="vertical-align:middle;" th:text="#{reysy.izemenen_onmenen}">Изменен отменен</th>
	<th rowspan="2" style="vertical-align:middle;" th:text="#{reysy.airlines}" >Вид авиалинии</th>
  </tr>
  <tr>

  <th th:text="#{reysy.nomer_reys}">Номер рейса</th>
  <th th:text="#{reysy.prilet_days}" >Дни прилета</th>
  <th th:text="#{reysy.time_otpravl}" >Время отправления</th>
  <th th:text="#{reysy.time_prib}">Время прибытия</th>
 
  <th th:text="#{reysy.nomer_reys}">Номер рейса</th>
  <th th:text="#{reysy.vilet_days}" >Дни вылета</th>
  <th th:text="#{reysy.time_otpravl}" >Время отправления</th>
  <th th:text="#{reysy.time_prib}">Время прибытия</th>
  </tr>
</thead >
<tbody id="filter_table">
<tr th:each="reys : ${reysy}">

<td  ><input type="checkbox" th:id="ch+${reys.id}" th:value="${reys.id}" name="ch[]" th:form="form"/></td>
<td><label th:for="ch+${reys.id}" th:text="${reys.rout}"> </label></td>
<td id="date_start"><label th:for="ch+${reys.id}" th:text="${reys.period_start}"> </label></td>
<td id="date_end"><label th:for="ch+${reys.id}" th:text="${reys.period_end}"> </label></td>

<td><label th:for="ch+${reys.id}" th:text="${reys.nomer_prilet}"> </label></td>
<td><label th:for="ch+${reys.id}" th:text="${reys.prilet_days}"> </label></td>
<td><label th:for="ch+${reys.id}" th:text="${reys.prilet_time_otpravl}"> </label></td>
<td><label th:for="ch+${reys.id}" th:text="${reys.prilet_time_prib}"> </label></td>

<td><label th:for="ch+${reys.id}" th:text="${reys.nomer_vilet}"> </label></td>
<td><label th:for="ch+${reys.id}" th:text="${reys.vilet_days}"> </label></td>
<td><label th:for="ch+${reys.id}" th:text="${reys.vilet_time_otpravl}"> </label></td>
<td><label th:for="ch+${reys.id}" th:text="${reys.vilet_time_prib}"> </label></td>

<td><label th:for="ch+${reys.id}" th:text="${reys.tip_vs}"> </label></td>
<td><label th:for="ch+${reys.id}" th:text="${reys.izmen_otmen}"> </label></td>
<td><label th:for="ch+${reys.id}" th:text="${reys.airline}"> </label></td>
</tr>

</tbody>
<tfoot>
<tr>
<td colspan="17" style="text-align:left;">  <input type='checkbox' 
id="maincheck"> <label for="maincheck" th:text="#{buttons.fire_all}"> Выделить все </label></td>
</tr>
</tfoot>
</table>
<div class="pages" th:insert="/html/pages.html"></div>
</div>

<div id="errors" style="color:red;font-size:18px;">
<span th:text="${error}"></span>
</div> 

</div>


<form th:action="@{'/svop/reysy/edit'}" method="POST" id="form" role="form" >
<div class="btn-group fixed-bottom w-50 m-auto">
 <input type="submit" name="add"  th:value="#{buttons.add_bt}"
 class="btn btn-primary">
  <input type="submit" name="redact"  th:value="#{buttons.red_bt}"  class="btn btn-warning"/>
 <input type="submit" name="delete" th:value="#{buttons.del_bt}" 
 class="btn btn-danger">
 </div>
 <input type="text" id="type" class="d-none" name="type" th:value="${type}"/>
 </form>
</div>
 </div>

 
<script src="/js/jquery/jquery-3.3.1.min.js"></script>
<script src="/bootstrap/js/popper_min.js" ></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/fire_check.js"></script>
<script>

var token = $("meta[name='_csrf']").attr("content"); 
var header = $("meta[name='_csrf_header']").attr("content");
$.ajaxSetup({
        headers: {
            'X-Csrf-Token':token
        }
    });
//при изменении сезона
 $("#sezon_select").change(function(){setSelect();});
	
	function setSelect(){
		
	let request={};
request.type=$("#type").val();
request.sezon_selected=$("#sezon_select").val();	
		
			 $.ajax({
  type: "POST",
  url: "http://localhost:5000/svop/api/reysy/get_reys_from_period",
	data: JSON.stringify(request),
	contentType: 'application/json',
	success: function(data) {
	console.log(data);
	$("#filter_table").empty();
	
	data.forEach( function (reys)
{
//Переформируем таблицу
$("#filter_table").append("<tr></tr>");
$("#filter_table tr:last-child").append("<td>"+'<input type="checkbox" id=ch'+reys.id+' value='+reys.id+' name="ch[]" form="form"/>'+"</td>");
$("#filter_table tr:last-child").append("<td>"+'<label for="ch'+reys.id+'">'+reys.rout+' </label>'+"</td>");	
$("#filter_table tr:last-child").append("<td>"+'<label for="ch'+reys.id+'"> '+reys.period_start+'</label>'+"</td>");
$("#filter_table tr:last-child").append("<td>"+'<label for="ch'+reys.id+'"> '+reys.period_end+'</label>'+"</td>");
$("#filter_table tr:last-child").append("<td>"+'<label th:for="ch'+reys.id+'" >'+reys.nomer_prilet+'</label>'+"</td>");
$("#filter_table tr:last-child").append("<td>"+'<label th:for="ch'+reys.id+'">'+reys.prilet_days+'</label>'+"</td>");
$("#filter_table tr:last-child").append("<td>"+'<label th:for="ch'+reys.id+'">'+reys.prilet_time_otpravl+'</label>'+"</td>");
$("#filter_table tr:last-child").append("<td>"+'<label th:for="ch'+reys.id+'">'+reys.prilet_time_prib+'</label>'+"</td>");
$("#filter_table tr:last-child").append("<td>"+'<label th:for="ch'+reys.id+'">'+reys.nomer_vilet+'</label>'+"</td>");
$("#filter_table tr:last-child").append("<td>"+'<label th:for="ch'+reys.id+'">'+reys.vilet_days+'</label>'+"</td>");
$("#filter_table tr:last-child").append("<td>"+'<label th:for="ch'+reys.id+'">'+reys.vilet_time_otpravl+'</label>'+"</td>");
$("#filter_table tr:last-child").append("<td>"+'<label th:for="ch'+reys.id+'">'+reys.vilet_time_prib+'</label>'+"</td>");
$("#filter_table tr:last-child").append("<td>"+'<label th:for="ch'+reys.id+'">'+reys.tip_vs+'</label>'+"</td>");
$("#filter_table tr:last-child").append("<td>"+'<label th:for="ch'+reys.id+'">'+reys.izmen_otmen+'</label>'+"</td>");
$("#filter_table tr:last-child").append("<td>"+'<label th:for="ch'+reys.id+'">'+reys.airline+'</label>'+"</td>");    
});
	
	
  }
});	
		
	};
	
	
</script>




</body>
</html>



















