<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta http-equiv="Content-type" Content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta th:name="_csrf" th:content="${_csrf?.token}"/>
<meta th:name="_csrf_header" th:content="${_csrf?.headerName}"/>

<title th:text="#{reysy.title}">
Рейсы
</title>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
	<style>
	input[type="checkbox"]{
	margin-right:0.5em;
	margin-left:0.5em;
	}
	</style>
 <script src="/js/parametrs.js"></script>
</head>
<Body>

 <div id="content" class="container-fluid">
 <form th:action="@{'/svop/reysy/save'}" method="POST"  autocomplete="off" class="form-horizontal">
        <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
		
		<div  style="color:red; font-size:14px;" id="errors">
	<div th:if="${nomer_null}" th:text="#{reysy.error.nomer.null}"></div>
	<div th:if="${rout_null != null}" th:text="#{reysy.error.rout.null}"></div>
	<div th:if="${period_null}" th:text="#{reysy.error.period.null}"></div>
	<div th:if="${prilet_time_otpravl_null}" th:text="#{reysy.error.prilet_time_otpravl.null}"></div>
	<div th:if="${prilet_time_prib_null}" th:text="#{reysy.error.prilet_time_prib.null}"></div>
	<div th:if="${vilet_time_otpravl_null}" th:text="#{reysy.error.vilet_time_otpravl.null}"></div>
	<div th:if="${vilet_time_prib_null}" th:text="#{reysy.error.vilet_time_prib.null}"></div>
		</div>
		
		 <div class="form-group">
		 <label th:text="#{reysy.aircompany}">Авиакомпания</label>
		 <select id="aircompany" class="form-control">
		 <option th:each="aircompany : ${aircompanies}" th:value="${aircompany.id}" th:text="${aircompany.nameLong}" 
		 th:selected="${aircompany.id==aircompanies_selected}">Название компании</option>
		 </select>
		 </div>
		 
		 <div class="form-group">
		 <label th:text="#{reysy.date.start}" >Дата начала</label>
		 <input name="period_start" th:value="${reysy.period_start}" type="Date" class="form-control"/>
		 </div>
		 
		 <div class="form-group">
		 <label th:text="#{reysy.date.end}" >Дата окончания</label>
		 <input name="period_end" th:value="${reysy.period_end}"  type="Date" class="form-control"/>
		 </div>
		 
		  <div class="form-group">
		 <label th:text="#{reysy.rout}">Маршрут</label>
		 <select name="rout" class="form-control">
		 <option th:each="route : ${routs}" th:value="${route.id}" th:text="${route.name}" 
		 th:selected="${route.id==reysy.rout}">маршрут....</option>
		 </select>
		 </div>
		 
		  </div>
		<div class="col-6">
		
		<div class="form-group">
		 <label th:text="#{reysy.nomer_reys_prilet}" >Номер рейса прилет</label>
		 <select id="nomer_prilet_id" name="nomer_prilet_id" class="form-control"> <option th:each="nomerReys : ${nomerReysPrilet}" 
		 th:value="${nomerReys.id}"
		 th:text="${nomerReys.nomer}"
		 th:selected="${nomerReys.id==reysy.nomer_prilet_id}">Номер рейса прилета</option></select>
		 </div>
		
		 
		   <div class="form-group">
			<label th:text="#{reysy.prilet_days}">Дни прилета:</label>
			<label th:text="#{reysy.monday}"  for="prilet_day_modey">Пн:</label>
			<input name="prilet_days" value="1" th:checked="${reysy.prilet_days[0]}" type="checkbox" id="prilet_day_modey"/>
			<label th:text="#{reysy.tuesday}" for="prilet_day_tuesday">Вт:</label>
			<input name="prilet_days" value="2" th:checked="${reysy.prilet_days[1]}" type="checkbox" id="prilet_day_tuesday"/>
			<label th:text="#{reysy.wednesday}" for="prilet_day_wednesday">Ср:</label>
			<input name="prilet_days" value="3" th:checked="${reysy.prilet_days[2]}" type="checkbox" id="prilet_day_wednesday"/>
			<label th:text="#{reysy.thursday}" for="prilet_day_thursday">Чт:</label>
			<input name="prilet_days" value="4" th:checked="${reysy.prilet_days[3]}" type="checkbox" id="prilet_day_thursday"/>
			<label th:text="#{reysy.friday}" for="prilet_day_friday">Пт:</label>
			<input name="prilet_days" value="5" th:checked="${reysy.prilet_days[4]}" type="checkbox" id="prilet_day_friday"/>
			<label th:text="#{reysy.saturday}" for="prilet_day_saturday">Сб:</label>
			<input name="prilet_days" value="6" th:checked="${reysy.prilet_days[5]}" type="checkbox" id="prilet_day_saturday"/>
			<label th:text="#{reysy.sunday}" for="prilet_day_sunday">Вс:</label>
			<input name="prilet_days" value="7" th:checked="${reysy.prilet_days[6]}" type="checkbox" id="prilet_day_sunday"/>
		 </div>
		 
		 <div class="form-group">
		 <label th:text="#{reysy.time_vilet_in_bax}">Время вылета в Барнаул</label>
		 <input name="prilet_time_otpravl" th:value="${reysy.prilet_time_otpravl}" type="time" class="form-control"/>
		 </div>
		 
		 <div class="form-group">
		 <label th:text="#{reysy.time_prilet_in_bax}" >Время прилета в Барнаул</label>
		 <input name="prilet_time_prib" th:value="${reysy.prilet_time_prib}" type="time" class="form-control"/>
		 </div>
		
		</div>
		
		<div class="col-6">
		
	
		 <div class="form-group">
		 <label th:text="#{reysy.nomer_reys_vilet}">Номер рейса вылет</label>
		 <select id="nomer_vilet_id" name="nomer_vilet_id" class="form-control">
		 <option th:each="nomerReys : ${nomerReysVilet}" 
		 th:value="${nomerReys.id}"
		 th:text="${nomerReys.nomer}"
		 th:selected="${nomerReys.id==reysy.nomer_vilet_id}">Номер рейса вылета</option></select>
		 </div>
		  
		 <div class="form-group">
			<label th:text="#{reysy.vilet_days}">Дни вылета:</label>
			<label th:text="#{reysy.monday}"  for="vilet_day_modey">Пн:</label>
			<input name="vilet_days" value="1" th:checked="${reysy.vilet_days[0]}" type="checkbox" id="vilet_day_modey"/>
			<label th:text="#{reysy.tuesday}" for="vilet_day_tuesday">Вт:</label>
			<input name="vilet_days" value="2" th:checked="${reysy.vilet_days[1]}" type="checkbox" id="vilet_day_tuesday"/>
			<label th:text="#{reysy.wednesday}" for="vilet_day_wednesday">Ср:</label>
			<input name="vilet_days" value="3" th:checked="${reysy.vilet_days[2]}" type="checkbox" id="vilet_day_wednesday"/>
			<label th:text="#{reysy.thursday}" for="vilet_day_thursday">Чт:</label>
			<input name="vilet_days" value="4" th:checked="${reysy.vilet_days[3]}" type="checkbox" id="vilet_day_thursday"/>
			<label th:text="#{reysy.friday}"   for="vilet_day_friday">Пт:</label>
			<input name="vilet_days" value="5" th:checked="${reysy.vilet_days[4]}" type="checkbox" id="vilet_day_friday"/>
			<label th:text="#{reysy.saturday}" for="vilet_day_saturday">Сб:</label>
			<input name="vilet_days" value="6" th:checked="${reysy.vilet_days[5]}" type="checkbox" id="vilet_day_saturday"/>
			<label th:text="#{reysy.sunday}"   for="vilet_day_sunday">Вс:</label>
			<input name="vilet_days" value="7" th:checked="${reysy.vilet_days[6]}" type="checkbox" id="vilet_day_sunday"/>
		 </div>
		  
		 
		 <div class="form-group">
		 <label  th:text="#{reysy.time_vilet_from_bax}">
		 Время вылета из Барнаула</label>
		 <input name="vilet_time_otpravl" th:value="${reysy.vilet_time_otpravl}" type="time" class="form-control"/>
		 </div>
		 
		 <div class="form-group">
		 <label th:text="#{reysy.time_prilet_in_bax}" >Время прилета в Барнаул</label>
		 <input name="vilet_time_prib" th:value="${reysy.vilet_time_prib}" type="time" class="form-control"/>
		 </div>
		
		</div>
		<div class="col"></div>
		<div class="col-auto">
		
		<div class="form-group">
		<label th:text="#{reysy.airlines}" >Тип воздушной линии</label>
		 <select name="airline" class="form-control"><option value="ВВЛ">ВВЛ</option><option value="МВЛ">МВЛ</option></select>
		 </div>
		 
		 
		 <div class="form-group">
		<label th:text="#{reysy.tip_vs}" >Тип ВС</label>
		 <input type="text" name="tip_vs" th:value="${reysy.tip_vs}" class="form-control"/>
		 </div>
		 
		 
		<div class="form-group">
		<label th:text="#{reysy.reject_reys}" for="reject">Отменить рейс</label>
		<input type="checkbox" value="on" th:checked="${reysy.izmen_otmen}" name="izmen_otmen" id="izmen_otmen"/>
		</div>
		
		<div class="form-group">
		<label th:text="#{reysy.osnovanie}">Основание отмены рейса</label>
		<textarea name="osnovanie_izmen_otmen" th:text="${reysy.osnovanie_izmen_otmen}" class="form-control"> </textarea>
		</div>
		
		<div class="form-group">
		<button th:text="#{buttons.save_bt}" name="save" class="btn btn-primary">Сохранить</button>
		<button th:text="#{buttons.exit}" name="exit" class="btn btn-warning">Вернуться</button>
		</div>
		</div>
		<div class="col"></div>
		</div>
		
<input type="text" class="d-none" name="sezon_selected" th:value="${sezon_selected}"/>
<input type="text" class="d-none" name="id" th:value="${reysy.id}"/>
<input type="text" class="d-none" name="type" th:value="${reysy.type}"/>
</form>
</form>
</div>
		
<script src="/js/jquery/jquery-3.3.1.min.js"></script>
<script src="/bootstrap/js/popper_min.js" ></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
<script th:inline="javascript">
//Вставим токен
var token = $("meta[name='_csrf']").attr("content");  
 $.ajaxSetup({
        headers: {
            'X-Csrf-Token':token
        }
    });

//при запуске
jQuery(document).ready(function($) {
let type_operation=[[${type_operation}]];
if (type_operation!="redact")
{
 setSelect();
 }
});
//при изменении авиакомпании
 $("#aircompany").change(function(){setSelect();});
	
	function setSelect(){
	$("#nomer_prilet_id").empty();
	$("#nomer_vilet_id").empty();
	
 let aircompany=$("#aircompany").val();
 if (aircompany!="")
 {
	 $.ajax({
  type: "POST",
  url: host+"/svop/api/nomer_reys/get_from_aircompanies",
	data: JSON.stringify(aircompany),
	contentType: 'application/json',
	success: function(data) {
	//$("#nomer_prilet_id").append( $('<option value="4">four</option>'));
	$.each(data,function(index,value){
	
	//console.log(value);
	if (value.type=="Транзит")
	{
	$("#nomer_prilet_id").append( $("<option value="+value.id+">"+value.nomer+"</option>"));
	$("#nomer_vilet_id").append( $("<option value="+value.id+">"+value.nomer+"</option>"));
	}else if(value.type=="Прилет")
	{
	$("#nomer_prilet_id").append( $("<option value="+value.id+">"+value.nomer+"</option>"));
	}else if (value.type=="Вылет")
	{
	$("#nomer_vilet_id").append( $("<option value="+value.id+">"+value.nomer+"</option>"));
	}
	});
  }
});	
}		
	};
</script>
</html>



















