<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta http-equiv="Content-type" Content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta th:name="_csrf" th:content="${_csrf.token}"/>
<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
<title th:text="#{routs.title}">
Routs
</title>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
</head>
<Body>


<div id="header" th:insert="/html/nmenu.html"></div>


 <div id="content" class="container-fluid">
 
 
 
        <div class="row" >
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-5">
		<div id="filter"  th:insert="/html/filter.html">
		
		</div>
		<h2 class="text-center" th:text="#{routs.title_tab}">Таблица маршрутов</h2>
		
<div class="table-responsive">
<table class="table table-striped table-bordered table-condensed mb-8 mw-50 " style="text-align:center width:50%;" id="content_table">
<thead>
<tr> <th name="id"></th>
<th  name="nameRu" data-notnull="1" data-type="text" th:text="#{routs.name_ru}">Имя Маршрута</th>
 
</thead ></tr>
<tbody id="filter_table">
<tr th:each="rout : ${routs}">

<td><input type="checkbox" th:id="ch+${rout.id}" th:value="${rout.id}" name="ch[]" th:form="form"/></td>
<td><label th:for="ch+${rout.id}" th:text="${rout.name}"> </label></td>

</tr>
<tr >
<td colspan="2" style="text-align:left;">  <input type='checkbox' 
id="maincheck"> <label for="maincheck" th:text="#{buttons.fire_all}"> Выделить все </label></td>
</tr>
</tbody>
</table>
<select id="airports" class="form-control d-none">
<option th:each="airport : ${airports}" th:value="${airport.id}" th:text="${airport.nameRu}">

</option>
</select>
</div>
</div>


<form th:action="@{/svop/routs/delete}" method="POST" id="form" role="form" >

<div class="btn-group fixed-bottom w-75 m-auto">


 <input type="button" name="add" data-toggle="modal" data-target="#addModal" data-content="add" th:value="#{buttons.add_bt}" 
 class="btn btn-primary"  />
 <input type="button" name="redact" data-content="redact" th:value="#{buttons.red_bt}"  data-toggle="modal" data-target="#addModal" 
 class="btn btn-warning"/>
 <input type="submit" name="delete" th:value="#{buttons.del_bt}" 
 class="btn btn-danger"/>
 </div>
 
 
</form>

</div>
 </div>
<script src="/js/jquery/jquery-3.3.1.min.js"></script>
<script src="/bootstrap/js/popper_min.js" ></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/fire_check.js"></script>
<script src="/js/filter.js"></script>


<div th:insert="/html/modal/base_modal.html" ></div>
  <script th:inline="javascript">
  //Заголовки для вывода интернационализованного текста
  var head_add_title=[[#{modal.header_add}]];
  var head_red_title=[[#{modal.header_red}]];
   var add_airport=[[#{modal.bt_add}]];
  var remove_airport=[[#{modal.bt_remove}]];
  
  //csrf токены
var token = $("meta[name='_csrf']").attr("content"); 
var header = $("meta[name='_csrf_header']").attr("content");
var service_api_save="http://localhost:5000/svop/api/routes/save";
var error=[[#{modal.error}]];
 </script>
   <script src="/js/modal/routes_modal.js">
   </script>
   
   
 
</Body>
</html>
<script>
</script>



